@* 
    File: Home/Index.cshtml
    Author: Nihar Shah
    Date: November 7, 2023
*@

@using System.Security.Claims;
@using WebApp.APIs.GoogleTranslate;

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var translator = new GoogleTranslate();
}

<div class="text-center">
    @* @if (User!.Identity!.IsAuthenticated)
    {
        <h1 class="display-4" style="font-family: Lusitana;">Welcome, @User.Identity.Name!</h1>
        <p style="font-family: Lusitana; font-size: 20px;">Your email: @User.FindFirstValue(ClaimTypes.Email)</p>
        <p style="font-family: Lusitana; font-size: 20px;">Your preferred language: @ViewData["PreferredLanguage"]</p>
    } *@
    @{
        string text = "Bringing Bubble Tea to the United States!";
        <h1 class="display-4">@await translator.TranslateText(text)</h1>
    } 
</div>

<section class="elementor-section">
    <div class="elementor-container">
        <a class="elementor-box-title" asp-area="" asp-controller="MenuBoard" asp-action="Index">
            <figure class="elementor-image-box-img">
            <img src="https://gongchausa.com/wp-content/uploads/2021/12/25-w.png">
            </figure>
            <h3>@await translator.TranslateText("Menu")</h3>
        </a>
    </div>
</section>
