@using System.Security.Claims;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User!.Identity!.IsAuthenticated)
    {
        <h1 class="display-4">Welcome, @User.Identity.Name!</h1>
        <p>Your email: @User.FindFirstValue(ClaimTypes.Email)</p>
        <p>Your preferred language: @ViewData["PreferredLanguage"]</p>
    }
    else
    {
        <h1 class="display-4">Welcome, stranger!</h1>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
