@* 
    File: Home/Index.cshtml
    Author: Nihar Shah
    Date: November 24, 2023
*@

@using System.Security.Claims;
@using WebApp.APIs.GoogleTranslate;
@using WebApp.APIs.AzureMaps;
@using WebApp.Models.AzureMaps.Weather;

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var translator = new GoogleTranslate();
}

<div class="text-center">
    @{
        string text = "Bringing Bubble Tea to the United States!";
        <h1 class="display-4">@await translator.TranslateText(text)</h1>
    } 
</div>
<h2></h2>

<section class="elementor-section">
    <div class="elementor-container left">
        <a class="elementor-box-title" asp-area="" asp-controller="MenuBoard" asp-action="Index">
            <figure class="elementor-image-box-img">
            <img src="https://gongchausa.com/wp-content/uploads/2021/12/25-w.png">
            </figure>
            <h3>@await translator.TranslateText("Menu")</h3>
        </a>
    </div>
    <div class="elementor-container center">
        <a class="elementor-box-title" asp-area="" asp-controller="Customer" asp-action="Index">
            <figure class="elementor-image-box-img">
            <img src="https://gongchausa.com/wp-content/uploads/2021/12/Tea-17.png">
            </figure>
            <h3>@await translator.TranslateText("Order")</h3>
        </a>
    </div>
    <div class="elementor-container right">
        <a class="elementor-box-title" asp-area="" asp-controller="" asp-action="">
            <figure class="elementor-image-box-img">
            <img src="https://gongchausa.com/wp-content/uploads/2021/12/Tea-29-scaled.jpg">
            </figure>
            <h3>@await translator.TranslateText("WIP")</h3>
        </a>
    </div>
</section>
