<link rel="stylesheet" href="~/css/_AIPartial.css" asp-append-version="true"/>
<script type="module" src="~/js/AI.js" asp-append-version="true"></script>

@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();

    var staticText = new List<string> {
        "Need help? Click here to open the AI chat interface",
        "Enter your message here.",
        "Send message to AI",
        "Clear your chat history",
    };

    var translatedText = await translator.Translate(staticText);
}

<div class="sidebar-image-robot contrast">
    <img class="toggle-AIMenu" src="~/img/robot-logo.png" alt="AI Menu"
        onclick="toggleSidebarAI()"
        onkeydown="if(event.keyCode == 13) toggleSidebarAI()"
        title=@translatedText.Dequeue()
        tabindex="0"
    />
</div>

@{
    bool sidebarAI = Context.Request.Cookies["sidebarAI"] == "true";
}
<div class="sidebar-robot @(sidebarAI ? "sidebar-open" : "sidebar-closed") contrast">
    @* Output field *@
    <div class="sidebar-output">
        <div class="sidebar-output-text" id="sidebar-output-text">
            @* Messages appear here *@
        </div>
    </div>

    @* Input field *@
    <div class="sidebar-input">
        <input type="text" id="sidebar-input-text" class="sidebar-input-text" placeholder="@translatedText.Dequeue()"
            onkeydown="if(event.keyCode == 13) sendInput()"/>
        <button class="sidebar-input-button" id="sidebar-input-button" onclick="sendInput()" onkeydown="if(event.keyCode == 13) sendInput()" title="@translatedText.Dequeue()">
            <img src="~/img/send.png" alt="Send" />
        </button>
        <button class="sidebar-clear-button" onclick="clearHistory()" onkeydown="if(event.keyCode == 13) clearHistory()" title="@translatedText.Dequeue()">
            <img src="~/img/clear-chat.png" alt="Clear" />
        </button>
    </div>
</div>
