@{
    ViewData["Title"] = "Menu Board Page";
}

<div class="text-center">
    <h1 class="display-4">Menu Board Page</h1>
    <ul class="menu">
        <li><a href="#">Milk Foam</a></li>
            <ul> <!-- Nested list for Milk Foam items -->
                <li><a href="#">Green Tea</a></li>
                <li><a href="#">Black Tea</a></li>
                <li><a href="#">Oolong Tea</a></li>
                <li><a href="#">Earl Grey Tea</a></li>
                <li><a href="#">WINTERMELON</a></li>
                <li><a href="#">DIRTY BROWN SUGAR MILK TEA</a></li>
            </ul>
        <li><a href="#">Milk Tea</a></li>
        <li><a href="#">Creative Mixes</a></li>
    </ul>
</div>
