@using WebApp.Models.UnitOfWork
@model Product

<script type="module" src="~/js/menu.js" asp-append-version="true"></script>

<h1>Product Details</h1>
<p>Name: @Model.Name</p>
<p>Price: @Model.Price</p>
