@*
    File: Views/Menu/ProductDetail.cshtml
    Author: Jared Wang
    Date: November 12th, 2023
    Purpose: The `ProductDetail.cshtml` file forms a crucial part of the menu board view in the Point of Sale (POS) system for Gong Cha. 
    Specifically designed to display the details of a single product, this view presents essential information 
    about a product item. The view, bound to the `Product` model, showcases product-specific details such as 
    its Name and Price. This file plays a pivotal role in rendering specific product information within the 
    menu board, providing users with a clear and concise overview of individual products available in the menu.
    By leveraging the `Product` model, it enables dynamic presentation of product details in a structured manner, 
    contributing to an enhanced user experience and aiding customers and employees in making informed choices 
    while interacting with the POS system's menu board.
*@

@using WebApp.Models.UnitOfWork
@model Product

<h1>Product Details</h1>
<p>Name: @Model.Name</p>
<p>Price: @Model.Price</p>
