@using WebApp.Models.UnitOfWork
@using WebApp.Data
@using WebApp.Models
@using System.Security.Claims
@model List<Product>

@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
    UnitOfWork unit = new();
    string? email = User.FindFirst(ClaimTypes.Email)?.Value;
    User? user = unit.GetUser(email!);
    unit.CloseConnection();
}

@foreach (var product in Model) {
    <button class="menu-item product-btn" id="@product.Id" endpoint="LoadCustomizations"\
        onmouseover="showFavoriteButton(this)" onmouseout="hideFavoriteButton(this)"
    >
        <img src="@product.ImgUrl" />
        <p>@await translator.TranslateText(product.Name)</p>
        <p class="product-price">@product.Price.ToString("C")</p>
        
    </button>
}
