@* @{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
} *@

@{
    ViewData["Title"] = "Cashier Page";
}

<link rel="stylesheet" href="~/css/customer.css" asp-append-version="true" />
<script type="module" src="~/js/customer.js" asp-append-version="true"></script>
<script type="module" src="~/js/cart.js" asp-append-version="true"></script>

@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
}

<h2 class="contrast">@await translator.TranslateText("Menu")</h2>
            
<!-- Category bar -->
<div class="text-center contrast" style="display: flex; justify-content: space-around;">
    <button endpoint="LoadCategories" class="category-btn active">@await translator.TranslateText("Categories")</button>
    <button endpoint="LoadBestSellers" class="category-btn">@await translator.TranslateText("Best Sellers")</button>
    <button endpoint="LoadFavorites" class="category-btn">@await translator.TranslateText("Favorites")</button>
</div>

<div class="content-container contrast">
    <button class="back-btn">@await translator.TranslateText("Back")</button>
    <div class="data-container"></div>
    <div class="customization-menu"></div>
</div>

<div class="cart-msg contrast" style="display: none;">
    <div class="cart-msg-container">
        <div class="cart-msg-text">
            <p>@await translator.TranslateText("Item added to cart")</p>
        </div>
        <div class="cart-msg-btns">
            <button class="cart-msg-btn" action="View Cart">@await translator.TranslateText("View Cart")</button>
            <button class="cart-msg-btn" action="Continue Shopping">@await translator.TranslateText("Continue Shopping")</button>
        </div>
    </div>
</div>
