/*
    File: wwwroot/css/cart.css
    Author: Griffin Beaudreau
    Date: November 24, 2023
    Purpose: This file contains the CSS for the cart page.
*/

body {
    background-image: url("https://order.gongchausa.com/static/media/backgrounds.12ca03b5bb94af521d4f.png");
    background-repeat: repeat-y;
    background-size: contain;
    background-color: #E7E7E7;
}
body.contrast-grayscale {
    background-image: url("/img/checkout-background.png");
    background-repeat: repeat-y;
    background-size: contain;
    background-color: #E7E7E7;
}
body.contrast-invert {
    background-image: url("/img/checkout-background-invert.png");
    background-repeat: repeat-y;
    background-size: contain;
    background-color: #E7E7E7;
}

.city-background-container img {
    right: 0;
}

.cart-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
    .cart-container {
        flex-direction: column;
    }
}

.products-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border-right: 1px solid #000000;
}
.product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #000000;
}
.product:last-child {
    border-bottom: none;
}
@media screen and (max-width: 768px) {
    .product:last-child {
        border-bottom: 1px solid #000000;
    }
    .products-container {
        border-right: none;
    }
}
    .img-container {
        width: 15rem;
        height: 10rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    .product-info-container {
        width: 100%;
    }
        .product-name {
            width: 100%;
        }
            .product-name h3 {
                font-size: 1.5rem;
                font-weight: bold;
                font-family: Lusitana;
            }
        /* .product-options-container {
            
        } */
        .edit-product-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 1rem;
            width: 100%;
        }
            .edit-center-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .edit-product-count {
                display: flex;
                align-items: center;
                width: 100%;
            }
                .edit-product-count-btn {
                    background-color: rgb(170, 0, 0);
                    color: white;
                    border: none;
                    border-radius: 50%;
                    width: 1.3rem;
                    height: 1.3rem;
                    font-size: 0.7rem;
                    font-weight: bold;
                }
                .product-count {
                    margin: 0;
                    font-size: 1.1rem;
                    font-weight: bold;
                    font-family: Lusitana;
                    margin: 0 0.6rem;
                }
            .remove-product-btn {
                background-color: rgb(170, 0, 0);
                color: white;
                border: none;
                border-radius: 5px;
                width: 4rem;
                font-size: 0.9rem;
                font-weight: bold;
                font-family: Lusitana;
                align-self: right;
            }
            .product-cost {
                margin: 0;
                font-size: 1.1rem;
                font-weight: bold;
                font-family: Lusitana;
            }
        @media screen and (max-width: 768px) {
            .edit-product-container {
                margin-right: 2rem;
            }
            .edit-product-count-btn {
                width: 2.25rem;
                height: 1.5rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20%;
            }
            .remove-product-btn {
                width: 120%;
                height: 2rem;
                font-size: 1.1rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            .product-cost {
                font-size: 1.3rem;
            }
            

        }


/* @* CheckoutPartial *@ */
.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding: 1rem;
}
    .subtotal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }
        .subtotal p {
            margin: 0;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .subtotal-value {
            margin: 0;
            font-size: 1.5rem;
            font-weight: bold;
            font-family: Lusitana;
        }
    .checkout-btn {
        background-color: rgb(170, 0, 0);
        color: white;
        border: none;
        border-radius: 5px;
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Lusitana;
    }
    @media screen and (max-width: 768px) {
        .checkout-container {
            width: 100%;
        }
    }


.emptycart-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.emptycart-message h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.emptycart-message p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.emptycart-message button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: #C30E2F;
    color: #ffffff;
    cursor: pointer;
}

.checkout-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.checkout-message h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.checkout-message p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.checkout-message button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: #C30E2F;
    color: #ffffff;
    cursor: pointer;
}
