/* 
    File: customer.css
    Author: Griffin Beaudreau
    Date: November 5, 2023
*/

body {
    background-color: #E7E7E7;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.category-btn {
    flex: 1;
    padding: 10px;
    margin: 5px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    border-width: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    margin-bottom: 10px;
    font-family: Lusitana;
    font-size: 1.2rem;
}
.category-btn.active {
    color: #C30E2F;
    cursor: default;          
}
.category-btn.active:focus {
    outline-color: #C30E2F;
}
.category-btn:hover:not(.active) {
    color: #000000;
}

.save-button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    border-width: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    margin-bottom: 10px;
    font-family: Lusitana;
    font-size: 1.2rem;
}

.add-button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    border-width: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    margin-bottom: 10px;
    font-family: Lusitana;
    font-size: 1.2rem;
}

.spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
}
.big-text {
  font-size: 1.5em;
}