@* 
    File: Views/Customer/_CategoriesPartial.cshtml
    Author: Griffin Beaudreau
    Date: November 24, 2023
    Purpose: This partial view is used to display the series of products
             that the customer can choose from.
*@

@using WebApp.Models.UnitOfWork
@model List<SeriesInfo>

@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
}

@foreach (var seriesInfo in Model) {
    <button  class="menu-item series-btn" id="@seriesInfo.Name" endpoint="LoadProductsBySeries">
        <img src="@seriesInfo.ImgUrl" />
        <p>@await translator.TranslateText(seriesInfo.Name)</p>
    </button>
}
