@using WebApp.Models.UnitOfWork
@model List<SeriesInfo>

@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
}

@foreach (var seriesInfo in Model) {
    <button class="menu-item series-btn" id="@seriesInfo.Name" endpoint="LoadProductsBySeries">
        <img src="@seriesInfo.ImgUrl" />
        <p>@await translator.TranslateText(seriesInfo.Name)</p>
    </button>
}
