@* 
    File: Views/Customer/_ProductsPartial.cshtml
    Author: Griffin Beaudreau
    Date: November 24, 2023
    Purpose: This partial view is used to display a list of products to the customer.
*@

@using WebApp.Models.UnitOfWork
@using WebApp.Data
@using WebApp.Models
@using System.Security.Claims
@model List<Product>

@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
    UnitOfWork unit = new();
    string? email = User.FindFirst(ClaimTypes.Email)?.Value;
    User? user = unit.GetUser(email!);
    unit.CloseConnection();
}

@foreach (var product in Model) {
    <button class="menu-item product-btn" id="@product.Id" endpoint="LoadCustomizations"\
        onmouseover="showFavoriteButton(this)" onmouseout="hideFavoriteButton(this)"
    >
        <img src="@product.ImgUrl" />
        <p>@await translator.TranslateText(product.Name)</p>
        <p class="product-price">@product.Price.ToString("C")</p>
        @{
            if (User.Identity!.IsAuthenticated) {
                if (user!.Favorites.Contains(product.Id)) {
                    <img class="favorite-icon favorite" src="~/img/favorite-heart1.png" alt="Favorite Icon" tabindex="0"
                        onclick="toggleFavorite(this)" onkeypress="toggleFavorite(this)"
                        onmouseover="disableProductButton(this)" onmouseout="enableProductButton(this)"
                    />
                } else {
                    <img class="favorite-icon" src="~/img/favorite-default-heart.png" alt="Favorite Icon" tabindex="0"
                        onclick="toggleFavorite(this)" onkeypress="toggleFavorite(this)"
                        onmouseover="disableProductButton(this)" onmouseout="enableProductButton(this)"
                    />
                }
            }
        }
    </button>
}
