@* 
    File: Views/Customer/_ProductsPartial.cshtml
    Author: Griffin Beaudreau
    Date: November 24, 2023
    Purpose: This partial view is used to display a list of products to the customer.
*@

@using WebApp.Models.UnitOfWork
@model List<Product>

@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
}

@foreach (var product in Model) {
    <button class="menu-item product-btn" id="@product.Id" endpoint="LoadCustomizations">
        <img src="@product.ImgUrl" />
        <p>@await translator.TranslateText(product.Name)</p>
        <p class="product-price">@product.Price.ToString("C")</p>
    </button>
}
