@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="content-container">
    <button class="back-btn">Back</button>
    <div class="data-container"></div>
    <div class="customization-menu"></div>
</div>
