@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="content-container">
    <button class="back-btn">Back</button>
    <div class="data-container"></div>
    <div class="customization-menu"></div>
</div>


<style>
    .cart-msg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 100;
        /* Center */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-msg-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
    }
</style>
<div class="cart-msg" style="display: none;">
    <div class="cart-msg-container">
        <div class="cart-msg-text">
            <p>Item added to cart</p>
        </div>
        <div class="cart-msg-btns">
            <button class="cart-msg-btn">View Cart</button>
            <button class="cart-msg-btn">Continue Shopping</button>
        </div>
    </div>
</div>
