@using WebApp.Models.Cart
@model string

<div class="checkout-container">
    <div class="subtotal">
        <p>Total</p>
        <p>@Model</p>
    </div>
    <button class="checkout-btn">Checkout</button>
</div>
