@* 
    File: Views/Cart/_CheckoutPartial.cshtml
    Author: Griffin Beaudreau
    Date: November 24, 2023
    Purpose: This partial view is used to display the checkout button and the total price of the cart.
*@

@using WebApp.Models.Cart
@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
}
@model string

<div class="checkout-container">
    <div class="subtotal">
        <p>@await translator.TranslateText("Total")</p>
        <p class="subtotal-value">@await translator.TranslateText(Model)</p>
    </div>
    <button class="checkout-btn">@await translator.TranslateText("Checkout")</button>
</div>
