@* 
    File: Views/Cart/_CheckoutPartial.cshtml
    Author: Griffin Beaudreau
    Date: November 24, 2023
    Purpose: This partial view is used to display the checkout button and the total price of the cart.
*@

@using WebApp.Models.Cart
@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
    var staticText = new List<string> { "Total", "Checkout" };
    var translatedText = await translator.Translate(staticText);
}
@model string

<div class="checkout-container">
    <div class="subtotal">
        <p>@translatedText.Dequeue()</p>
        <p class="subtotal-value">@Model</p>
    </div>
    <button class="checkout-btn">@translatedText.Dequeue()</button>
</div>
