@* 
    File: Views/Cart/Index.cshtml
    Author: Griffin Beaudreau
    Date: November 24, 2023
    Purpose: This view is responsible for displaying the cart page.
*@

<link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/customer.css" asp-append-version="true" />
<script type="module" src="~/js/cart.js" asp-append-version="true"></script>

@using WebApp.Models.Cart
@using WebApp.APIs.GoogleTranslate
@model Cart

@{
    @* Layout = "~/Views/Shared/_CartLayout.cshtml"; *@
    var translator = new GoogleTranslate();
}

<link rel="stylesheet" href="~/css/cart.css" />

<form method="get" asp-controller="Customer" asp-action="Index">
    <button class="cartlayout-back contrast" hidden type="submit">@await translator.TranslateText("Continue Shopping")</button>
</form>
<div class="cart-container contrast" hidden>
    <!-- Load product partial view -->
    @await Html.PartialAsync("_ProductPartial", Model.Items)
   
    <!-- Load checkout partial view -->
    @await Html.PartialAsync("_CheckoutPartial", Model.TotalCost().ToString("C"))
</div>

<div class="emptycart-message contrast" hidden>
    <h1>@await translator.TranslateText("Your cart is empty!")</h1>
    <p>@await translator.TranslateText("Looks like you haven't added anything to your cart yet.")</p>
    <p>@await translator.TranslateText("Click the button below to begin shopping.")</p>
    <form method="get" asp-controller="Customer" asp-action="Index">
        <button class="cartlayout-back1" type="submit">@await translator.TranslateText("Order Now")</button>
    </form>
</div>

<div class="checkout-message contrast" hidden>
    <h1>@await translator.TranslateText("Your order has been placed")</h1>
    <p>@await translator.TranslateText("Thank you for shopping with us!")</p>
    <p>@await translator.TranslateText("Click the button below to begin a new order")</p>
    <form method="get" asp-controller="Customer" asp-action="Index">
        <button class="cartlayout-back2" type="submit">@await translator.TranslateText("New Order")</button>
    </form>
</div>

<div class="city-background-container">
    <img src="~/img/city-background.png">
</div>
