@* 
    File: Views/Cart/Index.cshtml
    Author: Griffin Beaudreau
    Date: November 24, 2023
    Purpose: This view is responsible for displaying the cart page.
*@

@using WebApp.Models.Cart
@model Cart

@{
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}

<link rel="stylesheet" href="~/css/cart.css" />

<div class="cart-container">
    <!-- Load product partial view -->
    @await Html.PartialAsync("_ProductPartial", Model.Items)
   
    <!-- Load checkout partial view -->
    @await Html.PartialAsync("_CheckoutPartial", Model.TotalCost().ToString("C"))
</div>

